* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 865px;
  margin: 0 auto;
  padding: 0 5px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  max-width: 1032px;
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  font-weight: 500;
  font-size: 20px;
}

.nav__item {
  margin-left: 33px;
}
.header__burger {
  width: 30px;
  height: 22px;
  background-color: #edf7fa;
  position: relative;
  display: none;
  align-items: center;
  margin-right: 18px;
}
.header__burger-el {
  height: 2px;
  width: 100%;
  background-color: #21243D;
  position: relative;
}
.about__container {
  display: flex;
  padding-top: 120px;
}
.header__burger-el::before,
.header__burger-el::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #21243D;
  position: absolute;
}
.header__burger-el::before {
  top: -8px;
}
.header__burger-el::after {
  top: 8px;
}
@media (max-width: 480px) {
  .header {
    padding-top: 20px;
  }
  .nav {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}

.about__info {
  padding-right: 12%;
}

.about__avatar {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.about__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about__text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about__button {
  background: #ff6464;
  border-radius: 2px;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border: none;
}
@media (max-width: 480px) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .about__info {
    padding: 0 24px;
  }
  .about__avatar {
    width: 170px;
    height: 170px;
  }
}

.recent-posts {
  background-color: #edf7fa;
  padding: 27px 0px 32px;
}

.recent-posts__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.recent-posts__articles {
  display: flex;
  justify-content: space-between;
}

.recent-posts__link {
  color: #00a8cc;
}

.recent-posts__separator {
  margin-left: 26px;
  margin-right: 26px;
}

.recent-posts__subtitle {
  font-weight: bold;
}

.recent-posts__article {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 49%;
  margin-right: 2%;
  padding: 30px 48px 35px 23px;
}
.recent-posts__article:last-child {
  margin-right: 0;
}
.work {
  display: flex;
  margin-bottom: 46px;
  border-bottom: 2px solid #E0E0E0;
  padding: 32px 0;
}
.work__info {
  margin-left: 18px;
}
.work__img-wrap {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}
.work__img {
  height: 100%;
  width: auto;
}
.title-category {
  margin-top: 36px;
  margin-bottom: 42px;
}
.work__title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 13px;
}
.work__subtitle {
  display: inline-flex;
}
.work__date {
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
  font-size: 18px;
  color: #ffffff;
  margin-right: 36px;
  padding-left: 10px;
}
.work__category {
  color: #8695a4;
}
.work__text {
  margin-top: 17px;
}
.icon-list {
  display: flex;
  justify-content: center;
}
.icon-list__item {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 135px;
}
.icon-list__item-img {
  width: 30px;
  height: 30px;
  margin-bottom: 600px;
}
.text {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}
.about__container {
  padding-bottom: 88px;
}

@media (max-width: 480px) {
  .recent-posts__container {
    padding: 0 10px;
  }
  .recent-posts__top {
    justify-content: center;
  }
  .recent-posts__link {
    display: none;
  }
  .recent-posts__articles {
    flex-direction: column;
  }
  .recent-posts__article {
    width: 100%;
    margin-right: 0;
    padding: 12px 22px 20px;
    margin-bottom: 17px;
  }
}
@media (max-width: 480px) {
  .featured__works {
    display: flex;
    overflow: auto;
  }
  .work {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
  }
  .title-category {
    display: flex;
    justify-content: center;
  }
  .icon-list__item {
    margin-right: 0;
}
}
.recent-posts__text {
  margin-top: 13px;
}
.recent-posts__info {
  margin-top: 22px;
}
.blog__articles {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.blog__title {
  font-weight: bold;
  font-size: 30px;
}
.blog__subtitle {
  font-weight: 500;
  font-size: 30;
}
.blog__separator {
  margin-left: 20px;
  margin-right: 20px;
}
.blog__subtitle-elem {
  color: #8695A4;
}
.main{
  flex: 1 1 auto;
}
